.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Responsive breakpoints for different screen sizes */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


.home {
  margin-bottom: 2rem;
}

h1,h2,h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.text-left {
  text-align: left !important;
}

.breed-page {
  margin-top: 2rem;
  margin-bottom: 2rem;
}